        <!-- <footer class="page-footer">
            <div class="footer-copyright">
                Copyright ©
                <script type="text/javascript">
                    var date = new Date().getFullYear();
                    document.write(date !== 2018 ? `2018-${date}` : date);
                </script>
                PuppyPics All rights reserved.
            </div>
        </footer> -->

        <% if (success && success.length !== 0) { %>

            <script type="text/javascript">
                M.toast({html: '<%= success %>', displayLength: 2250, classes: 'successToast'});
            </script>

        <% } else if (error && error.length !== 0) { %>

            <script type="text/javascript">
                M.toast({html: '<%= error %>', displayLength: 2750, classes: 'errorToast'});
            </script>

        <% } %>
    </body>
</html>
