<script type="text/javascript" src="/static/js/shared/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="/static/js/petpics/moment.min.js"></script>
<script src="https://unpkg.com/vue@2.5.16/dist/vue.js"></script>
<script src="https://unpkg.com/file-upload-with-preview"></script>
<script type="text/javascript" src="/static/js/shared/app.js"></script>
<script type="text/javascript" src="<%= js %>"></script>

<footer class="footer">
   <div class="container">
       <div class="content">
           <p>
               Copyright ©
                <script type="text/javascript">
                    var date = new Date().getFullYear();
                    document.write(date !== 2018 ? `2018-${date}` : date);
                </script>
                PuppyPics All rights reserved.
           </p>

           <p>
               Made By <a href="#">Miguel Roberts</a>.
           </p>
       </div>
   </div>
</footer>
