<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>PetPics</title>

        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Ubuntu:300,400,500" rel="stylesheet">
        <link rel="icon" type="image/png" href="/static/img/favicon.png">
        <link rel="stylesheet" href="/static/css/shared/materialize.min.css">
        <link rel="stylesheet" href="/static/css/shared/app.css">

        <% if (locals.css) { %>
            <link rel="stylesheet" href="<%= locals.css %>">
        <% } %>

        <% if (locals.queries) { %>
            <link rel="stylesheet" href="<%= locals.queries %>">
        <% } %>

        <script type="text/javascript" src="/static/js/jquery-3.3.1.min.js"></script>
        <script type="text/javascript" src="/static/js/materialize.min.js"></script>
        <script type="text/javascript" src="/static/js/app.js"></script>

    </head>
    <body>
        <header>
            <% if (!locals.nonav) { %>

                <nav>
                    <div class="nav-wrapper">
                        <a href="/puppies" id="brand-logo">PetPics</a>

                        <div id="search-field" class="input-field hide-on-small-and-down">
                            <input id="search" type="search" placeholder="Search" required>
                            <label class="label-icon search-icon" for="search"><i class="material-icons left">search</i></label>
                            <i class="material-icons search-icon">close</i>
                        </div>

                        <ul class="right">
                            <li><a id="user-dropdown-trigger" data-target='user-dropdown' class="dropdown-trigger"><i class="material-icons">account_circle</i></a></li>
                        </ul>

                        <div id="user-info">
                            <ul id="user-dropdown" class="right dropdown-content">
                                <li><a href="/settings">Account Info</a></li>
                                <li class="divider" tabindex="-1"></li>
                                <li><a href="/logout">
                                    <span id="logout">Logout <i class="material-icons right">exit_to_app</i></span>
                                </a></li>
                            </ul>
                        </div>
                    </div>
                </nav>

                <div class="fixed-action-btn">
                    <a class="btn-floating btn-large waves-effect waves-circle waves-light red">
                        <i class="material-icons">add</i>
                    </a>
                </div>

            <% } %>
        </header>
