<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="PetPics: A Fast & Easy Way to View & Share Pet Pictures.">

<title>PetPics</title>

<link rel="icon" type="image/png" href="/static/img/favicon.png">
<link rel="stylesheet" href="/static/css/petpics/bulma.min.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
<link rel="stylesheet" href="<%= css %>">
