<nav class="navbar is-info">
    <div class="navbar-brand">
        <a href="/petpics" class="navbar-item">
            <h1 class="title has-text-white">&nbspPetPics</h1>
        </a>
    </div>

</nav>
