<img onclick="location.href='/'" src="/static/img/favicon.png" class="favicon-navbar" alt="favicon">

<nav id="landing-nav">
    <div class="nav-wrapper">
        <a href="/" class="brand-logo">PuppyPics</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/">Home</a></li>
            <li><a href="#features">Features</a></li>
            <li><a href="#about-us">About Us</a></li>
            <li><a href="/login">Login</a></li>
            <li><button onclick="location.href='/signup'" class="waves-effect waves-effect-light">Sign Up</button></li>
        </ul>
    </div>
</nav>
