<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <% include ../partials/head %>
    </head>
    <body>

        <div class="level">
            <div class="level-left">
                <header>
                    <% include ../partials/header %>
                </header>
            </div>
        </div>

        <main>



        </main>

        <footer>
            <% include ../partials/footer %>
        </footer>

    </body>
</html>
