<% include ../partials/header %>

<main class="valign-wrapper">

    <div class="container">
        <h2 class="center">Upload Image</h2>

        <form id="upload" action="/petpics" method="post" enctype="multipart/form-data">
            <div class="row">
                <div id="image-upload-row" class="col s12 m8 offset-m2 l6 offset-l3">

                    <div class="custom-file-container" data-upload-id="uploadImage">
                        <label>Upload File <a href="javascript:void(0)" class="custom-file-container__image-clear" title="Clear Image"><i style="height: 100%;" class="material-icons">close</i></a></label>

                        <label class="custom-file-container__custom-file" >
                            <input type="file" class="custom-file-container__custom-file__custom-file-input" name="image" accept="image/*" required>
                            <input type="hidden" name="MAX_FILE_SIZE" value="10485760" />
                            <span class="custom-file-container__custom-file__custom-file-control"></span>
                        </label>

                        <div class="custom-file-container__image-preview"></div>
                    </div>

                </div>
            </div>

            <div class="row" id="description-row">
                <div class="input-field col s12 m8 l6 offset-m2 offset-l3">
                    <input id="description" type="text" data-length="75" name="description" required>
                    <label for="description">Description</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12 m8 l6 offset-m2 offset-l3">
                    <input id="tags" type="hidden" name="tags">

                    <div class="chips chips-placeholder">
                        <input type="text" name="mobile_tags" class="tags fullChipsWidth">
                    </div>
                </div>
            </div>

            <div class="row center">
                <button class="btn btn-large btn-upload waves-effect waves-light z-depth-3">Post</button>
            </div>
        </form>
    </div>

</main>

<% include ../partials/footer %>
