<% include ./partials/header %>

<%# TODO: Make Navbar -- Left: Logo | Right: Login & Signup %>

<img src="/static/img/favicon.png" alt="logo" class="logo">

<div id="navbar">
    <a href="#" class="navbar-link more-info">More Info</a>
    <a href="#" class="navbar-link login">Login</a>
    <a href="#" class="navbar-link sign-up">Sign Up</a>
</div>

<div class="parallax-container valign-wrapper">
    <div id="hero-text" class="container center">
        <h3 class="main-text">Wanna See Some Cute Puppies?</h3>
        <h3 class="main-text" style="margin-top: -5px; margin-bottom: 40px;">We've Got You Covered.</h3>

        <a href="#" class="btn-landing btn-full">Puppies!</a>
        <a href="#" class="btn-landing btn-ghost">I'm Already Confused.</a>
    </div>

    <div class="parallax"><img src="/static/img/hero.jpg"></div>

</div>
<% include ./partials/footer %>
