<% include ./partials/header %>

<%# TODO: Make Navbar -- Left: Logo | Right: Login & Signup %>

<div class="parallax-container valign-wrapper">

    <div class="container center hero-text">
        <h3 class="main-text">Wanna See Some Cute Puppies?</h3>
        <h3 class="main-text" style="margin-top: -5px; margin-bottom: 40px;">We've Got You Covered.</h3>

        <a href="#" class="btn-landing">Puppies!!</a>
    </div>

    <div class="parallax"><img src="/static/img/hero.jpg"></div>

</div>
<% include ./partials/footer %>
