<% include ./partials/header %>
<% include ./partials/landing-nav %>

<main>
    <div class="landing-container valign-wrapper">
        <div class="container" style="margin-top: -30px;">
            <div class="row">
                <div class="col s12">
                    <div class="white-text center">
                        <h1 id="hero-main-text">PuppyPics</h1>
                        <h3 id="hero-sub-text">A Fast and Easy Way to Share Pictures of Adorable Puppies.</h3>
                        <h3 id="hero-sub-text">Explore a World of Fluffy Little Creatures!</h3>

                        <a href="/puppies" id="btn-landing" class="btn btn-large waves-effect waves-effect-light z-depth-5">Join Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section id="features">

    </section>

    <section id="about-us">

    </section>
</main>

<% include ./partials/footer %>
