/* =========== LANDING PAGE STYLES =========== */

/* Hero Img */
.parallax-container {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5));
    background: -webkit-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    height: 100vh;
}

/* IMG Animation */

@-webkit-keyframes pulse {
 0% {
 -webkit-transform: scale(1, 1);
}
 50% {
 -webkit-transform: scale(1.1, 1.1);
}
 100% {
 -webkit-transform: scale(1, 1);
};
}

@keyframes pulse {
    0% {
     transform: scale(1, 1);
    }

    50% {
        transform: scale(1.1, 1.1);
    }

    100% {
        transform: scale(1, 1);
    };
}

img.logo{
    cursor: pointer;

    position: absolute;
    top: 15px;
    left: 70px;

    z-index: 1;

    width: 130px;
    height: 130px;

    transition: transform .7s ease-in-out;
    -webkit-transition: -webkit-transform .7s ease-in-out;

    -webkit-animation: pulse 1s linear infinite;
	animation: pulse 1s linear infinite;
}

/* Navbar */

#navbar .navbar-link:link,
#navbar .navbar-link:visited {
    position: absolute;
    top: 60px;
    left: 185px;
    z-index: 1;

    letter-spacing: 2px;
    font-size: 150%;
    font-weight: 200;

    margin-left: 30px;
    padding-bottom: 5px;

    color: white;

    border-bottom: 2px solid transparent;

    display: none;

    transition: background-color 0.2s, border 0.2s, color 0.2s;
    -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
}

#navbar .navbar-link:hover,
#navbar .navbar-link:active{
    border-bottom: 2.35px #00a8ff solid;
}

/* Hero Text */
#hero-text .main-text {
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    color: white;
    font-size: 5em:
    text-transform: uppercase;
}

#hero-text .main-text {
    font-size: 325%;
}

/*  Landing Button */
a.btn-landing {
    font-family: 'Nunito', sans-serif;
    font-weight: 200 !important;
    letter-spacing: 1px;
    margin-top: 20px;
    font-size: 150%;
    border: 2px solid #00a8ff;
    padding: 10px 25px;
    border-radius: 25px;
    -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

a.btn-landing.btn-full {
    color: white;
    background-color: #00a8ff;
    margin-right: 10px;
}

a.btn-landing.btn-full:hover {
    background-color: #0097e6;
}

a.btn-landing.btn-ghost:hover {
    color: white;
    background-color: #00a8ff;
}
