/* Body */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;

    font-family: 'Poppins', sans-serif;
}

main {
    flex: 1 0 auto;
}

/* Footer */
footer.page-footer {
    background-color: #171a21;
    padding: 0;
}

footer .footer-copyright {
    padding-left: 25px !important;
}

/* Navbar */
.favicon-navbar {
    width: 75px;
    margin: -5px 5px 0 10px;
    cursor: pointer;
    z-index: 2;
}

.nav-wrapper span{
    margin-top: -25px;
}

nav#main-nav {
    background: linear-gradient(90deg, #2f3640 0%, #7f8fa6 100%);
}
