body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

/* Footer */
footer.page-footer {
    position:fixed;
    bottom:0;
    left:0;
    width:100%;
    padding: 0;
    background-color: #171a21;
}

footer .footer-copyright {
    padding-left: 25px !important;
}
