body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

/* Nav */
nav {
    background-image: linear-gradient(to right, #4fc3f7, #3fb9f3, #2fafee, #1da5ea, #039be5);
}

.search-icon {
    /* height: 85%;
    vertical-align: middle; */
}

#brand-logo {
    position: absolute;
    font-size: 2.5em;
    color: white;
    margin-left: 45px;
}

#search-field {
    width: 40%;
    margin-left: 30%;
    display: inline-block;
}

#search {
    height: 80%;
    border-radius: 5px !important;
    background-color: #008ED3;
    transition: all .5s;
}

#search:focus{
    background-color: white;
}

#search:focus::placeholder{
    color: #5B5B5B;
}

.search-icon {
    margin-top: -5px;
}

#search::placeholder{
    font-size: 120%;
    color: white;
}

.input-active {
    background-color: white !important;
}

nav .input-field label i.icon-active {
    color: black !important;
}

#user-dropdown-trigger {
    height: 64px;
    width: 180px;
    cursor: pointer;
    text-align: center;
}

#user-dropdown-trigger i{
    text-align: center;
    display: inline-block;
}

#user-dropdown {
    background-color: #009EEB;
    left: 0px;
    min-width: 150px;
}

#user-dropdown li:hover {
    background-color: #008ED3;
}

#user-dropdown li a{
    color: white;
    text-align: center;
}

.username {
    font-size: 1.35em;
    margin-top: -20%;
    margin-right: 10px;
    height: 64px;
    vertical-align: middle;
    display: inline-block
}

li.divider {
    height: .75px !important;
}

#user-dropdown li a span {
    display: inline-block;
}

#user-dropdown li a span#logout i {
    line-height: normal !important;
    height: 100%;
}

#user-dropdown-trigger i{
    font-size: 2.75em;
    height: 100%;
}

/* Footer */
footer.page-footer {
    position:fixed;
    bottom:0;
    left:0;
    width:100%;
    padding: 0;
    background-color: #171a21;
}

footer .footer-copyright {
    padding-left: 25px !important;
}
