html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

footer {
    flex-shrink: 0;
}

.navbar {
    height: 4.25em;
    min-height: 4.25em;
    display: flex;
    justify-content: center;
}

.navbar-item .circle {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: transparent;
    transition: .15s;

    width: 45px;
    height: 45px;
    border-radius: 22.5px;

    cursor: pointer;
}

.navbar-item .circle i {
    font-size: 1.25em;
}

.navbar-item .circle:hover {
    background-color: #2980b9;
}

.navbar .navbar-brand-logo {
    height: 60px;
    width: 60px;
    max-height: 60px;
    max-width: 60px;
    margin-right: 5px;
}

/*  Style Navburger */

.navbar .navbar-burger {
    min-height: 4.25em !important;
    color: white;
}

.navbar .navbar-center {
    display: flex;
    align-items: center;
}

.navbar .navbar-item input{
    width: 425px;
}

.navbar .navbar-center .navbar-item:hover {
    background-color: #008AE8;
    color: white;
}

.navbar .navbar-user-icon {
    height: 55px;
    width: 55px;
    max-height: 55px;
    max-width: 55px;
    border-radius: 27.5px;
}

.navbar .fas.fa-user-circle {
    font-size: 2em !important;
}

.navbar .navbar-item.navbar-item-active {
    background-color: #008AE8;
    color: white;
}

footer.footer {
    box-sizing: border-box;
    padding: 20px 50px;
    /* position: fixed; */
    /* bottom: 0; */
    width: 100vw;
}

footer.footer .container .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer.footer .container .content p{
    margin: 0 !important;
}
