* {
    font-family: 'Poppins', sans-serif;
}

/* Hero Img */
.slider.fullscreen{
    position: absolute;
}

/* Hero Text */
#hero-main-text {
    display: inline-block;
    font-weight: 400;
    letter-spacing: 0.5px;
    font-size: 4em;
    text-shadow: 2px 1.75px #2f3640;
    line-height: 1.3;
    margin-bottom: 0;
}

#hero-sub-text {
    font-size: 1.8em;
}

#hero-sub-text-2 {
    font-size: 1.8em;
    margin-top: -1px;
}

/* Form(s) */
form#login {
    display: none;
}

form#login .row.form-row {
    margin-left: -80px;
}

.change-forms-text {
    cursor: pointer;
    color: #74b9ff;
}

/* label color */
form#signup .input-field label,
form#login .input-field label {
    font-size: 115%;
    font-weight: 500;
    color: white;
}

/* label focus color */
form#signup .input-field input:focus + label,
form#login .input-field input:focus + label {
    color: #74b9ff;
}

/* label underline focus color */
form#signup .input-field input:focus,
form#login .input-field input:focus {
    border-bottom: 1px solid #74b9ff;
    box-shadow: 0 1px 0 0 #2980b9;
}

/* valid color */
form#signup .input-field input.valid,
form#login .input-field input.valid {
    border-bottom: 1px solid #2ecc71;
    box-shadow: 0 1px 0 0 #27ae60;
}

/* invalid color */
form#signup .input-field input.invalid,
form#login .input-field input.invalid {
    border-bottom: 1px solid #eb4d4b;
    box-shadow: 0 1px 0 0 #c0392b;
}
/* icon prefix focus color */
form#signup .input-field .prefix.active,
form#login .input-field .prefix.active {
    color: #74b9ff;
}

form#signup,
form#login{
    margin-top: 45px;
}

form#signup .row,
form#login .row{
    margin-top: -15px;
}

form#signup input,
form#login input{
    font-size: 125%;
    color: white;
}

/* Landing Button */
button.btn.btn-large#btn-landing {
    margin-top: 15px;
    margin-bottom: 10px;
    padding: 0 30px;
    border-radius: 50px;
    background: linear-gradient(45deg,#0984e3 0%, #74b9ff 100%);
}

.button-wrapper {
    margin-top: -25px;
}
