* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* Grid Styles */
.grid-item, .grid-item-fullwidth {
  float: left;
  margin-bottom: 1%;
}

.gutter-sizer {
  width: 2%;
}

/* Image Styles */
.grid .grid-item.card .card-reveal, .grid .grid-item-fullwidth.card .card-reveal {
    padding-bottom: 0;
}

.grid-item.card .card-content .card-title, .grid-item-fullwidth.card .card-content .card-title {
    width: 100%;
    font-size: 1.3em;
    font-weight: 400;
    margin-right: 0 !important;
}

.action-icons {
    z-index: 2;
    position: absolute;
    top: 80%;
    right: 7.5%;
}

.action-icons i {
    display: inline-block;
    cursor: pointer;
    font-size: 3em;
}

i.fa-heart.like{
    cursor: pointer;
    color: #e74c3c;
    transition: color 1s;
}

.heart-active {
    color: #c0392b !important;
}

.action-icons .show-comments{
    color: #3498db;
    transition: all 0.5s;
}

.action-icons .show-comments:hover{
    color: #2980b9;
}

p.byUser i{
    font-size: 1.8em;
}

.card-reveal .comment-wrapper {
    display: block;
    height: 55%;
    overflow-y: scroll;
}

.card-reveal .comment-wrapper .comments {
    display: block;
    margin-top: 2%;
}

.card-reveal .add-comment {
    height: 20%;
}

.card-reveal .add-comment form {
    height: 100%;
    vertical-align: middle;
}

.card-reveal .add-comment form .input-field {
    height: 100%;
    vertical-align: middle;
}

.card-reveal .add-comment .input-field input {
    margin-bottom: 0 !important;

}

.btn.btn-large.btn-comment {
    border-radius: 5px;
    background-color: #2ecc71;
}

/* label color */
.input-field label,
.input-field label {
    font-weight: 500 !important;
    color: #2ecc71 !important;
}

/* label focus color */
.input-field input:focus + label,
.input-field input:focus + label {
    color: #2ecc71 !important;
}

/* label underline focus color */
.input-field input:focus,
.input-field input:focus {
    border-bottom: 1px solid #2ecc71 !important;
    box-shadow: 0 1px 0 0 #27ae60 !important;
}

/* valid color */
.input-field input.valid,
.input-field input.valid {
    border-bottom: 1px solid #2ecc71 !important;
    box-shadow: 0 1px 0 0 #27ae60 !important;
}

/* invalid color */
.input-field input.invalid,
.input-field input.invalid {
    border-bottom: 1px solid #eb4d4b !important;
    box-shadow: 0 1px 0 0 #c0392b !important;
}
